{{#partial "adminBody"}}
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/hogares.js"></script>

</head>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Consumo total</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {{#each cliente}}
    <tr>
        <td>{{id}}</td>
        <td>{{nombre}}</td>
        <td>{{apellido}}</td>
        <td>{{consumoTotal}}</td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#reporte{{id}}">Generar reporte
            </button>
            <!-- Modal -->
            <div class="modal fade" id="reporte{{id}}" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Reportes</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/hogares/hogar/{{id}}/reporte" method="get">
                                <div class="form-group">
                                    <label for="inicio">Dias atras desde la fecha actual:</label>
                                    <input type="number" class="form-control" id="inicio" name="dias">
                                </div>
                                <button type="submit" class="btn btn-default">Generar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{#if consumo}}
<div class="modal show" id="modalConsumo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <form action="/hogares">
                    <input class="close" type="submit" value="&times;"/>
                </form>
                <h4 class="modal-title">Consumo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>{{consumo}} kwh</p>
                </div>
                <form action="/hogares">
                    <input type="submit" class="btn btn-default" value="Cerrar"/>
                </form>
            </div>

        </div>

    </div>
</div>
{{/if}}
{{/partial}}

{{>adminDash.hbs}}