<!DOCTYPE html>
<html lang="en">
<head>
<form method="POST">
  <title>Consumo Cliente</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/consumoCliente.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
	h2{
		padding-top: 25px;
		text-shadow: 3px 2px red;
	}
	#contenedorPrincipal{
		margin-top:20px;
	}
  </style>	
</head>
<body>
<h2>La fecha inicial no puede ser mayor que la final</h2>
<div class="row top top-buffer">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group">
      <div class = "inicio">
      <label> Fecha inicio </label>
        <input type="date" required class="form-control" placeholder="yyyy-MM-dd" name="inicioPeriodo">
        </div>
        <div class = "fin">
        <label > Fecha fin</label>
        <input type="date" required  class="form-control" placeholder="yyyy-MM-dd" name="finPeriodo">
          <span class="input-group-btn">
            <button style="margin-top:15px;" class="btn btn-primary">
              <span class="glyphicon glyphicon-search">
              </span> Buscar
            </button>
          </span>
      </div>
    </div>
     </div>
   

<table class="table table-dark">
    <tr>
    <thead>
      <th scope="col"class="align-top">#</th>
      <th scope="col" class="align-top">Nombre</th>
      <th scope="col" class="align-top">Apellido</th>
      <th scope="col"class="align-top">Inicio</th>
      <th scope="col"class="align-top">Fin</th>
      <th scope="col" class="align-top">Consumo</th>
    </tr>
     </thead>
  		<tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{nombre}}</td>
      <td>{{apellido}}</td>
      <td>{{inicio}}</td>
      <td>{{fin}}</td>
      <td>{{consumo}}</td>
    </tr>
  </tbody>
</table>
</body>
</html>
{{>layout.hbs}}