<html>
<head>
	<title>Estado del Hogar</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/css/hogar.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<h3><span style="color:OldLace" class="border">Consumo del ultimo mes:  {{consumoUltimoMes}} kw/h</span></h3>
	{{#if ultimaMedicion}}
		<h3><span style="color:OldLace" class="border">Ultima medicion:  {{ultimaMedicion}} grados</span></h3>
	{{else}}
		<h3><span style="color:OldLace" class="border">Ultima medicion:  No tiene sensores</span></h3>
	{{/if}}
<table style ="width:1310px;">
<thead class="black white-text">
    <tr>
    <tr>
      <th scope="col" class="colIzquierda">Nombre del dispositivo</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>		
			{{#each dispositivosI}}
			<tr class="dispIntelig">
      			<th scope="row" class="colIzquierda">{{nombre}}</th>
      			<td>{{estado}}</td>
    		</tr>
		{{/each}}
  </tbody>
</table>
</body>
</html>
{{>layout.hbs}}