
<head>
    <title>Home</title>
	<link rel="stylesheet" href="/css/homeCliente.css"> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<body>

<div class="fixed-left">
	<h1 class = "welcome">Bienvenido {{nombre}} {{apellido}}</h>
	</div>
	

<div class="card-deck">

<form method="get">
  <div class="card text-center">
    <img class="card-img-top" src="../imagenes/hogar.jpg" alt="Card image cap">
    <div class="card-body">
      <button formaction="/clientes/{{id}}/hogar" type="submit" class="btn btn-light">Ver mi hogar</button>
    </div>
  </div>
</form>

<form method="get">
  <div class="card text-center">
  	<img class="card-img-top" src="../imagenes/ahorro-led.jpg" alt="Card image cap">
  	<div class="card-body">
      <button formaction="/clientes/{{id}}/consumo" type="submit" class="btn btn-light">Consultar consumo</button>
    </div>
  </div>
</form>
  
<form method="get">
  <div class="card text-center">
  	<img class="card-img-top" src="../imagenes/bajoConsumo.jpg" alt="Card image cap">
  	<div class="card-body">
      <button formaction="/clientes/{{id}}/optimizador" type="submit" class="btn btn-light">Ejecutar optimizador</button>
    </div>
  </div>
</form>
	
</div>

</body>

{{>layout.hbs}}